body {
    min-height: 100vh;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
}

h1,
p,
a,
h3 {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
}

a {
    cursor: pointer;
}

.hero-message-container,
.information-container,
.quote-container,
.information-list-container,
.footer,
.information-box,
.header > div,
.call-container,
.call-container > .call-to-action,
.hero-message-container > div,
.header {
    display: flex;
} 

.hero-message-container,
.information-container,
.quote-container,
.call-container {
    padding: 100px 50px; 
}

.header {
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
}

.header > img {
    width: 100px;
}

.header > div {
    align-items: center;
    gap: 30px;
}

.hero-message-container {
    flex: 1;
    justify-content: center;
    align-items: stretch;
    background-color: #1F2937;
    gap: 40px;
}

.hero-message-container > div {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 570px;
    max-height: 250px;
}

.hero-message-container > div > h1 {
    font-weight: bold;
    font-size: 48px;
}

.hero-message-container > div > p {
    font-size: 18px;
}

.hero-message-container > div > button {
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 30px;
    width: 130px;
    height: 35px;
}

.hero-message-container > img {
    width: 450px;
    height: 250px;
}

.information-container {
    flex: 1;
    flex-direction: column;
    padding-bottom: 100px;
    gap: 20px;
    align-items: center;
}

.information-container > h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information-container > .information-list-container {
    gap: 30px;
}

.information-list-container > .information-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 250px;
    flex-direction: column;
    align-items: center;
}

.information-box > .information-image {
    width: 200px;
    object-fit: cover;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 30px;
}

.information-box > p {
    text-align: center;
    color: #1F2937;
}

.quote-container {
    flex: 1;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.quote-container > h1 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-container > div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.quote-container > div > p {
    font-size: 26px;
    font-weight: bold;
    color: #1F2937;
}

.call-container {
    justify-content: center;
}

.call-container > .call-to-action {
    justify-content: space-around;
    align-items: center;
    height: 130px;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 4px;
}

.call-container > .call-to-action > button {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.call-to-action-text > h3 {
    color: white;
}

.call-to-action-text > p {
    color: white;
}

.footer {
    padding: 30px 0px;
    color: white;
    background-color: #1F2937;
    justify-content: center;
}